$blue-primary: #03045e;
$blue-secondary: #0096c7;
$light-blue: #ade8f4;
$little-blue:#90e0ef;
$white: #fff;
$light-gray: #eee;
$medium-gray: #cccccc;
$border-input: #ced4da;
$dark-gray: #212529;
$boxshadow: #202020;
$boxshadow-two: #3b3b3b;
$black: #000000;
$back: #eceaea;
