/* ---------------------- MEDIA QUERIES ---------------------- */

/* ---------------------- SMARTPHONES ------------------------ */

@media (min-width: 360px) and (max-width: 480px){
    .search-container{
        height: 800px;
    }
    .search{
        height: 760px;
        display: flex;
        justify-content: center;
    }
    .input-form{
        width: 200px;
        margin-left: 10px;
    }
    .search-form button{
        width: 200px;
        margin-left: 10px;
    }
    .types{
        display: flex;
        justify-content: flex-start;
        margin-left: 0;       
    }
    .first{
        display: flex;
        flex-direction: column; 
    }
    .promotions{
        display: flex;
        justify-content: center;
    }
    .div1-first{
        margin-bottom: 30px;
    }
    .div1-promotions img{
        height: 150px;
    }
    .div2-promotions img{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
    }
    .packs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pack3{
        padding-bottom: 20px;
    }
    .search-container-help{
        height: 200px;
        display: flex;
    }
    .search-help{
        height: 160px;
        display: flex;
        justify-content: center;
    }
    .search-help h1{
        font-size: 25px;
        margin-left: 50px;
    }
    .search-help input{
        width: 300px;
        margin: 10px;
    }
    .card{
        margin-bottom: 30px;
    }
    .bar-banner h1{
        font-size: 20px;
    }
}
/* ---------------------- TABLETS & IPADS ---------------------- */

@media (min-width: 768px) and (max-width: 990px){
    .search-container{
        height: 350px;
    }
    .search{
        height: 310px;
    }
    .promotions{
        display: flex;
        justify-content: center;
    }
    .div1-promotions img{
        margin-bottom: 30px;
    }
    .card{
        height: 450px;
    }
}