/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) and (max-device-width : 480px) {
  body{
    background-color: white;
  }
  .imagen{
    display: flex;
    flex-direction: column;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  body{
    background-color: white;
  }
  .imagen{
    display: flex;
    flex-direction: column;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  body{
    background-color: white;
  }
  .imagen{
    display: flex;
    flex-direction: column;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body{
    background-color: white;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  body{
    background-color: white;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body{
    background-color: white;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  body{
    background-color: white;
  }
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  body{
    background-color: white;
  }
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
  body{
    background-color: white;
  }
  .imagen{
    display: flex;
    flex-direction: column;
  }
}